/* RESET */

:root{

    --bg:#121212;
    --card:#1e1e1e;
    --text:#ffffff;
    --accent:#ff9800;

}

.light-theme{

    --bg:#f5f5f5;
    --card:#ffffff;
    --text:#222222;
    --accent:#ff9800;

}

.dark-theme{

    --bg:#121212;
    --card:#1e1e1e;
    --text:#ffffff;
    --accent:#ff9800;

}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/**{
    border:1px solid red;
}*/

/* BODY */

body{

    background:
    var(--bg);

    color:
    var(--text);

    transition:background .3s, color .3s;

    min-height:100vh;
    /*padding:20px;*/
}

/* HEADER */

.header{
    text-align:center;
    margin-bottom:30px;
}

.header h1{
    font-size:2.2rem;
    margin-bottom:10px;
}

.header p{
    color:var(--text);
}

/* DASHBOARD */

.dashboard{
    max-width:1200px;
    margin:auto;
    margin-bottom:40px;
}

.dashboard-top{
    display:flex;
    justify-content:center;
    margin-bottom:25px;
}

.progress-card{
    background:var(--card);
    width:100%;
    max-width:600px;
    border-radius:25px;
    padding:25px;
    box-shadow:0 0 20px rgba(0,0,0,.3);

    display:flex;
    align-items:center;
    gap:30px;
}

/* CÍRCULO */

.circle-container{
    position:relative;
    width:180px;
    height:180px;
    flex-shrink:0;
}

.progress-svg{
    transform:rotate(-90deg);
}

.circle-bg{
    fill:none;
    stroke:#374151;
    stroke-width:12;
}

.circle-progress{
    fill:none;
    stroke:#22c55e;
    stroke-width:12;
    stroke-linecap:round;

    stroke-dasharray:502;
    stroke-dashoffset:502;

    transition:all .8s ease;
}

#progressPercent{
    position:absolute;
    inset:0;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:2rem;
    font-weight:bold;
}

/* MENSAGEM */

.motivational-message{
    font-size:1.2rem;
    line-height:1.5;
    font-weight:bold;
}

/* STATS */

.stats-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:15px;
}

.stat-card{
    background:var(--card);
    border-radius:20px;
    padding:20px;
    text-align:center;
    transition:.3s;
}

.stat-card:hover{
    transform:translateY(-4px);
}

.stat-icon{
    font-size:2rem;
    display:block;
    margin-bottom:10px;
}

.stat-card h3{
    font-size:.95rem;
    color:var(--text);
    margin-bottom:10px;
}

.stat-card p{
    font-size:1.6rem;
    font-weight:bold;
}

/* META */

.meta-card{
    margin-top:25px;

    background:var(--card);

    border-radius:20px;

    padding:20px;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;

    flex-wrap:wrap;
}

.meta-card label{
    font-weight:bold;
}

.meta-card select{
    padding:10px 15px;
    border:none;
    border-radius:10px;
    background:var(--card);
    color:var(--text);
}

/* CALENDÁRIO */

.calendar-section{
    max-width:1200px;
    margin:auto;

    background:var(--card);

    border-radius:25px;

    padding:25px;

    margin-bottom:30px;
}

.calendar-header{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:20px;
}

.calendar-header h2{
    text-align:center;
}

.month-btn{
    border:none;
    cursor:pointer;

    background:#1e40af;
    color:#2563eb;

    width:45px;
    height:45px;

    border-radius:50%;

    font-size:1rem;

    transition:.3s;
}

.month-btn:hover{
    background:#2563eb;
}

.weekdays{
    display:grid;
    grid-template-columns:repeat(7,1fr);

    text-align:center;

    margin-bottom:15px;

    color:var(--text);

    font-weight:bold;
}

#calendar{
    display:grid;
    grid-template-columns:repeat(7,1fr);
    gap:10px;
}

.day{
    aspect-ratio:1/1;

    background:#111827;

    color:white;

    border-radius:15px;

    display:flex;
    justify-content:center;
    align-items:center;

    cursor:pointer;

    transition:.3s;

    font-weight:bold;
}

.day:hover{
    transform:scale(1.05);
}

.day.empty{
    visibility:hidden;
}

.day.selected{
    background:#2563eb;
}

.day.planned{
    border:2px solid #2563eb;
}

.day.completed{
    background:#16a34a;
}

/* CARD DO DIA */

.selected-day-card{
    max-width:1200px;
    margin:auto;

    color:var(--text);

    background: #1f2937;

    border-radius:25px;

    padding:25px;

    margin-bottom:30px;
}

.selected-day-card h2{
    margin-bottom:20px;
    color:#e5e7eb;
}

.form-group{
    margin-bottom:20px;
    
}

.form-group label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
    color:#e5e7eb;
}

.form-group select,
.form-group textarea{
    width:100%;

    border:none;
    outline:none;

    border-radius:15px;

    background:var(--card);

    color:#ffffff;

    padding:15px;

    font-size:1rem;
}

.form-group textarea{
    min-height:120px;
    resize:none;
    overflow:hidden;
}

.form-group textarea::placeholder{
    color:var(--text);
}

/* BOTÕES */

.action-buttons{
    display:flex;
    gap:15px;
    flex-wrap:wrap;
}

.btn{
    border:none;
    cursor:pointer;

    border-radius:12px;

    padding:12px 20px;

    color:white;

    font-weight:bold;

    transition:.3s;
}

.btn-save{
    background:#2563eb;
}

.btn-save:hover{
    background:#1d4ed8;
}

.btn-complete{
    background:#16a34a;
}

.btn-complete:hover{
    background:#15803d;
}

/* HISTÓRICO */

.history-section{
    max-width:1200px;
    margin:auto;

    background:var(--card);

    border-radius:25px;

    padding:25px;
}

.history-section h2{
    margin-bottom:20px;
}

#historyList{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.history-item{
    background:var(--card);

    border-radius:15px;

    padding:15px;

    border-left:4px solid #22c55e;
}

.history-item strong{
    display:block;
    margin-bottom:5px;
}

/* FOOTER */

footer{
    text-align:center;
    margin-top:40px;
    color:var(--text);
}

footer p{
    margin-top:5px;
}

/* RESPONSIVO */

@media(max-width:900px){

    .stats-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .progress-card{
        flex-direction:column;
        text-align:center;
    }

}

@media(max-width:768px){

    body{
        padding:15px;
    }

    #calendar{
        gap:6px;
    }

    .day{
        font-size:.9rem;
    }

}

@media(max-width:500px){

    .stats-grid{
        grid-template-columns: repeat(2, 1fr);
    }

    .weekdays{
        font-size:.8rem;
    }

    .day{
        font-size:.8rem;
    }

    .calendar-header h2{
        font-size:1rem;
    }

    .action-buttons{
        flex-direction:column;
    }

    .btn{
        width:100%;
    }

}

@media(max-width:768px){

    .history-grid{

        grid-template-columns: repeat(2, 1fr);

    }

}

@media(min-width:769px){

    .history-grid{

        grid-template-columns: repeat(2, 1fr);

    }

}

@media(min-width:992px){

    #menuBtn{

        display:block;

    }

    #sidebar{

        left:0;

        transform: none;

        display:flex;

    }

    #homePage,
    #historyPage{

        padding: 20px;
        display:flex;
        flex-direction:column;
        align-items: center;

    }

}

.treinos-grid{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

.chip{
    cursor:pointer;
}

.chip input{
    display:none;
}

.chip span{
    display:block;

    padding:10px 16px;

    border-radius:20px;

    background:var(--card);
    border:2px solid transparent;

    transition:.3s;

    color:var(--text);
}

.chip input:checked + span{
    background:#2563eb;
    border-color:#2563eb;
}

.btn-delete{

    background:#dc2626;

}

.btn-delete:hover{

    background:#b91c1c;

}

.history-description,
.history-observation{

    overflow-wrap: anywhere;

    margin-top:8px;

    padding:8px;

    border-radius:8px;

    background:rgba(255,255,255,.05);

    white-space:pre-wrap;

}

.history-page-header{

    display:flex;

    flex-direction:column;

    gap:15px;

    margin-bottom:20px;

}

.history-page-header input{

    padding:12px;

    border:none;

    border-radius:10px;

    font-size:16px;

}

.history-grid{

    display:grid;
    
    overflow-wrap: anywhere;

    width: 100%;

    overflow-x: hidden;

    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap:20px;

}

.page{

    /*width:100%;*/

    transition:
    transform .35s ease,
    opacity .35s ease;

}

.active{

    opacity:1;

    transform:translateX(0);

}

.hidden{

    opacity:0;

    /*transform:translateX(40px);*/

    pointer-events:none;

    position:absolute;

}

#menuBtn{

    position:fixed;

    top:15px;

    left:15px;

    z-index:1001;

    border:none;

    border-radius:10px;

    padding:10px 14px;

    font-size:22px;

    cursor:pointer;

}

#sidebar{

    position:fixed;

    top:0;

    left:-280px;

    width:260px;

    height:100%;

    padding:20px;

    display:flex;

    flex-direction:column;

    gap:12px;

    transition:.35s;

    z-index:1000;

}

#sidebar.open{

    left:0;

}

#sidebar button{

    padding:12px;

    border:none;

    border-radius:10px;

    cursor:pointer;

}